
<h4 class="autorization__title">Добро пожаловать <br>в приложение <span>ToDo</span></h4>
<input type="email" class="form-control email__input" placeholder="Email">
<input type="password" class="form-control pass__input" placeholder="Password">
<button class="authorization__btn btn btn-success btn-md"> Войти </button>
<button class="registration__btn btn btn-default btn-md"> Зарегистрироватся </button>
