

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="user">
            <div class="user__settings">
                <div class="user__name">Неизвестный пользователь</div>
                <div class="user__options">
                    <button class="options__btn"><i class="i i-settings"></i></button>
                    <button class="logout__btn"><i class="i i-logout"></i></button>
                </div>
            </div>
            <form action="" class="user__form">
                <input type="text" class="user__task" placeholder="Новая задача">
                <button type="submit" class="user__addtask"><i class="i i-add"></i></button>
            </form>
            <div class="user__tasks"></div>
        </div>
    </div>
</div>