
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
            <h1>Список задач</h1>
            <p>Пользоваетль:
                <span class="user-name">Неизвестный пользователь</span>
                <button class="logout__btn btn btn-default btn-md"> Выход </button>
            </p>
            <form action="" id="addTask" method="get">
                <input type="text" class="add form-control" placeholder="Ваша новая задача">
                <button type="submit" class="addtask btn btn-default">Добавить</button>
            </form>
            <div id="wrapper"></div>
        </div>
    </div>
</div>