<span class="text"> {{ title }} </span>
<div class="btns">
    <button class="toggle btn btn-success" type="button">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button type="button" class="remove btn btn-danger">
    <i class="glyphicon glyphicon-remove"></i></button>
</div>
