<div class="todo__header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="header"><span class="header__logo header__logo_left">ToDo</span>
                    <span class="header__logo header__logo_right">online</span>
                    <div class="header__logotype">
                        <ul class="logotype ">
                            <li class="logotype__item item1"></li>
                            <li class="logotype__item item2"></li>
                            <li class="logotype__item item3"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="todo__content"></div>

<div class="todo__footer">
<h3 class="footer__text">Бесплатное приложение для планирования задач</h3>
</div>